@font-face {
  font-family: "iconfont"; /* Project id 2700376 */
  src: url('iconfont.woff2?t=1627302716405') format('woff2'),
       url('iconfont.woff?t=1627302716405') format('woff'),
       url('iconfont.ttf?t=1627302716405') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\e612";
}

.icon-douyin:before {
  content: "\e681";
}

.icon-zhihu:before {
  content: "\e629";
}

.icon-toutiao:before {
  content: "\e667";
}

.icon-Bzhan1beifen:before {
  content: "\f3a2";
}

.icon-ling:before {
  content: "\e65f";
}

.icon-gouwu:before {
  content: "\e601";
}

.icon-articleicon301:before {
  content: "\e602";
}

.icon-xingqiu:before {
  content: "\e600";
}

.icon-book:before {
  content: "\e616";
}

