<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./common.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <!-- login 页面 -->
  <div class="login" style="display: none;">
    <div class="login-title">
      <img class="back-arrow" src="./images/back-white.svg" alt="">
      <img class="logo-new" src="./images/logo-new.png" alt="">
    </div>
    <!-- login 内容页面+图片 -->
    <div class="login-container">

      <!-- login + 注册-->
      <div class="login-container-left">
        <div class="tab-selected">
          <div class="lonin-nopsd">免密登录</div>
          <div class="selected-line-nopsd" style="display: block;"></div>
          <div class="lonin-email">邮箱登录</div>
          <div class="selected-line-email" style="display: none;"></div>
        </div>
        <!-- input 框 + 滑块 + 登录 -->
        <div class="login-inputs">
          <div class="tel-icon-input">
            <img src="./images/tel-icon.svg" class="tel-icon">
            <input type="text" placeholder="请输入手机号">
          </div>

          <div class="slider-bar">
            <img src="./images/slider-bar.png" alt="">
            <div class="slider-text">请按住滑块，拖到最右边</div>
          </div>

          <div class="tel-icon-input">
            <img src="./images/code-icon.svg" class="tel-icon">
            <input type="text" placeholder="请输入手机号">
            <a href="#">获取验证码</a>
          </div>
          <button>登录</button>

          <div class="register">
            <div class="register-wechat-phone">
              <div class="register-wechat">
                <img src="./images/wx-logo.svg" class="tel-icon img-wechat">
                <a href="#">微信注册登录</a>
              </div>
              <div class="register-phone">
                <img src="./images/tel-icon.svg" class="tel-icon">
                <a href="#">手机注册</a>
              </div>
            </div>
            <div class="register-agreement">
              注册及代表同意<a href="#">《图灵社区用户注册协议》</a>
            </div>
          </div>
        </div>
      </div>

      <!-- login 右边 -->
      <div class="login-container-right">
        <img src="./images/astronaut.png" alt="">
      </div>
    </div>
  </div>


  <!-- 邮箱登录 页面 -->
    <div class="login">
      <div class="login-title">
        <img class="back-arrow" src="./images/back-white.svg" alt="">
        <img class="logo-new" src="./images/logo-new.png" alt="">
      </div>
      <!-- login 内容页面+图片 -->
      <div class="login-container">

        <!-- 注册 -->
        <div class="login-container-left">
          <div class="tab-selected">
            <div class="lonin-nopsd">免密登录</div>
            <div class="selected-line-nopsd" style="display: none;"></div>
            <div class="lonin-email">邮箱登录</div>
            <div class="selected-line-email" style="display: block;"></div>
          </div>
          <!-- input 框 + 滑块 + 登录 -->
          <div class="login-inputs">
            <div class="tel-icon-input mail">
              <img src="./images/mail-icon.svg" class="tel-icon">
              <input type="text" placeholder="请输入注册邮箱">
            </div>

            <div class="tel-icon-input">
              <img src="./images/pwd-icon.svg" class="tel-icon password">
              <input type="text" placeholder="请输入密码">
            </div>

            <div class="slider-bar">
              <img src="./images/slider-bar.png" alt="">
              <div class="slider-text">请按住滑块，拖到最右边</div>
            </div>
            <button>登录</button>

            <div class="register">
              <div class="register-wechat-phone">
                <div class="register-wechat">
                  <img src="./images/wx-logo.svg" class="tel-icon img-wechat">
                  <a href="#">微信注册登录</a>
                </div>
                <div class="register-phone">
                  <img src="./images/tel-icon.svg" class="tel-icon">
                  <a href="#">手机注册</a>
                </div>
              </div>
              <div class="register-agreement">
                注册及代表同意<a href="#">《图灵社区用户注册协议》</a>
              </div>
            </div>
          </div>
        </div>

        <!-- login 右边图片 -->
        <div class="login-container-right">
          <img src="./images/astronaut.png" alt="">
        </div>
      </div>
    </div>

</body>

</html>